[Desktop Entry]
    Version=1.0
    Type=Application
    Name=Keyboard Cleaner
    Comment=Lock keyboard for cleaning
    Exec=app.py
    Icon=org.ari.KeyboardCleaner
    Terminal=false
    Categories=Utility;